.send-button{
  font-size: 15px;
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  margin-left: 10px;
  cursor: pointer;
}
.chat-input{
  font-size: 15px;
  padding: 12px 15px;
  border: 1px solid black;
  border-radius: 10px;
  flex-grow: 1;
}
.clear-button{
  background-color: rgb(231, 231, 231);
  font-size: 15px;
  padding: 12px 10px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}
