.error-message-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
}
.error-message{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    text-decoration: underline;
}